
* {
    margin:0;
    padding:0;
    box-sizing : border-box;
}

body{
    font-family :poppins ,sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

nav ,.nav-bars {
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    
}
.nav-bars {
    gap:2rem;
    font-size: 1rem;
    cursor: pointer;
    list-style:none;


}
.my-name {
    font-size :1.5rem;
    cursor:default;


}
 a{
    text-decoration :none;
    color:black;
    text-decoration-color :white;
 }
 a:hover {
    color : gray;
    text-decoration: underline;
    
 }
 #nav-2 {
    display: none;
 }
 .hey {
    position :relative;
    display:inline-block;
 }
 .hello {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: 24px;
    width:30px;
    cursor: pointer;
 }

 .hello span {
    width:100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
 }

 .nav-sec {
    position :absolute;
    top:100%;
    right: 0;
    background-color: white;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition :all 0.3s ease-in-out;


    

 }